[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
gpiozero = "*"
Flask = "*"
python-jose = "*"
psycopg2-binary = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Werkzeug = "*"
Jinja2 = "*"
itsdangerous = "*"
click = "*"
crypto = "*"
ecdsa = "*"
python-crontab = "*"
python-socketio = "*"
eventlet = "*"
python-gsmmodem-new = "*"
gunicorn = "*"
noipy = "*"
pydbus = "*"
gobject = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
black = "*"
rope = "*"

[requires]
python_version = "3.7"
