pytz
gpiozero
flask
python-jose
psycopg2-binary
Flask-SQLAlchemy
Flask-Migrate
Flask-Script

werkzeug
jinja2
itsdangerous
click
Crypto
ecdsa
python-crontab
stringcase

# monitor socket io
python-socketio
eventlet

python-gsmmodem-new

gunicorn

# DNS updates
noipy
pydbus